<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="data.nombre">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Especialidad</mat-label>
    <mat-select [(ngModel)]="data.especialidad">
      <mat-option *ngFor="let especialidad of especialidades" [value]="especialidad">
        {{especialidad}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data">{{data.id ? 'Guardar' : 'Agregar'}}</button>
</div>
